php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/New_York
rewriteEngine On
rewriteCond %{REQUEST_FILENAME} !-f
rewriteCond %{REQUEST_FILENAME} !-d
rewriteRule ^(.*)$ /index.php/$1 [L]
