.finance-filter{
    margin: auto;
    max-width: var(--max-width);

    h3{
        color: var(--font-color-2);
        margin: 8px;
        text-align: center;
    }

    form{
        max-width: 100%;
        justify-content: center;
        margin-bottom: 10px;

        input{
            margin: 5px 5px;
            width: 20%;
        }
    }

    a{
        text-align: center;
        line-height: 45px;
        max-width: 63%;
    }
}

#statistics{
    margin: auto;
    max-width: var(--max-width);

    div{
        color: white;
    }

    .item{
        width: 200px;
        margin: 5px;
    
    }

    p{
        text-align: center;
        margin-bottom: 5px;
    }

    span{
        color: var(--bg-color);
    }
}
