#home-search, #home-items{
    padding: 0px 35px;
}

.item-action{
    width: 100px;
}

#home-search .input, #home-items{
    margin: 20px 0px auto;
    width: 100%;
}

.item-action .button{
    width: 100px;
}

