@media only screen and (max-width: 425px){
    .finance-filter {
        input{
            width: 100% !important;
        }
        a{
            max-width: 95% !important;
        }
    }
}

@media only screen and (max-width: 450px){
    #orders-items{
        .item{
            justify-content: center;
        }
    }
}