#orders-title, #orders-items{
    padding: 0px 35px;
}

#orders-title h1{
    font-size: 18pt;
    color: var(--font-color-2);
}

#orders-title .button{
    width: 100px;
}

#orders-items, #orders-title{
    margin: 20px 0px auto;
    width: 100%;
}

#orders-items .item{
    height: 135px;
}

#orders-items .item-title{
    margin-top: 20px;
}

#orders-items .item-action{
    max-width: 100%;
    margin-top: 10px;
}

#orders-items .item-action .button{
    padding: 0px 25px;
}

#orders-items .item-action a{
    margin: 0px 5px;
}