#orders-items{
    margin: 10px auto 10px;
    width: 100%;
    max-width: var(--max-width);

    .item{
        height: 135px;
    }

    .item-title{
        margin-top: 20px;
    }

    .item-action{
        max-width: 100%;
        margin-top: 10px;
    }

    .item-action .button{
        padding: 0px 25px;
    }

    .item-action a{
        margin: 0px 5px;
    }
}