#orders-items{
    margin: 10px auto 10px;
    width: 100%;
    max-width: var(--max-width);

    .item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 135px;
    }

    .item-action{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        min-width: fit-content;
    }

    .item-action .button{
        padding: 0px 25px;
        width: 100% !important;
    }

    .item-action a{
        margin: 0px 5px;
    }
}